{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{url_for('catalog.static', filename='css/catalog.css')}}">
{% endblock %}


{% block content %}
    {% if products_list %}
        {% for product in products_list %}
            <div>
                <h1>{{product.name}}</h1>
                <img src="{{ url_for('catalog.static', filename='media/' + product.image_url) }}" alt="">
                <p>{{product.description}}</p>
                <a href="/add-to-cart/?id={{product.id}}">+</a>
                <a href="">-</a>
            </div>
        {% endfor %}    
    {% endif %}
    
    
{% endblock %}