{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{url_for('catalog.static', filename='css/catalog.css')}}">
{% endblock %}


{% block content %}
    {% if products_list %}
        <p>Count: <span id="count"></span></p>
        {% for product_object in products_list %}
            <div>
                <h1>{{product_object.product.name}}</h1>
                <img src="{{ url_for('catalog.static', filename='media/' + product_object.product.image_url) }}" alt="">
                <p>{{product_object.product.description}}</p>
                <span>{{product_object.count}}</span>
                <button id="addButton" value="{{product_object.product.id}}">+</button>
                <button id="deleteButton" value="{{product_object.product.id}}">-</button>
            </div>
        {% endfor %}    
    {% endif %}
    
    <script src="{{ url_for('catalog.static', filename='js/cart.js')}}"></script>
{% endblock %}