{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}">
{% endblock %}

{% block content %}

    {% if categories %}
        <div class="categories-list">
            <button class="category-btn active" data-category="all">
                <span>Всі</span>
            </button>

            {% for category in categories %}
                <button class="category-btn" data-category="{{ category }}">
                    <img 
                        src="{{ url_for('catalog.static', filename='media/categories/' ~ category ~ '.png') }}" 
                        alt="{{ category }}"
                    >
                </button>
            {% endfor %}
        </div>
    {% endif %}

    <div id="filter_products"></div>

    <div id="pagination"></div>

    <script src="{{ url_for('cart.static', filename='js/countProducts.js') }}" defer type="module"></script>
    <script src="{{ url_for('catalog.static', filename='js/filter.js') }}" defer type="module"></script>

{% endblock %}