{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{url_for('catalog.static', filename='css/catalog.css')}}">
{% endblock %}


{% block content %}
    {% if products %}
        {% for product in products %}
            <div>
                <h1>{{product.name}}</h1>
                <img src="{{ url_for('catalog.static', filename='media/' + product.image_url) }}" alt="">
                <p>{{product.description}}</p>
                <button id="addButton" value="{{product.id}}">+</button>
                <a href="">-</a>
            </div>
        {% endfor %}    
    {% endif %}
    {% if pagination.has_prev %}
        <a href="?page={{pagination.prev_num}}">
            <img src="{{ url_for('catalog.static', filename='images/prev.png') }}" alt="prev">
        </a>
    {% endif %}
    
    {% for page in range(1, pagination.pages + 1) %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    {% if pagination.has_next %}
        <a href="?page={{pagination.next_num}}">
            <img src="{{ url_for('catalog.static', filename='images/next.png') }}" alt="next">
        </a>
    {% endif %}
    
    <script src="{{ url_for('catalog.static', filename='js/cart.js')}}"></script>
{% endblock %}